.nav {
    position: sticky;
    top: 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.logo {
    cursor: pointer;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 40%;
    flex: auto;
    position: absolute;
    left: 30%;
    transition: all 0.5s ease-in-out;
}
.search input {
    width: 100%;
    height: 50px;
    flex: auto;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 20px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.search input:focus {
    outline: none;
    position: relative;
}

.profile {
    display: flex;
    width: 70px;
    justify-content: space-between;
    position: relative;
    z-index: 4;
}
.profilebtn {
    margin-bottom: 10px;
}

.profile img {
    margin: 0 10px;
}

.carticon {
    position: relative;
}
.carticon a {
    color: black;
}
.cartcount {
    position: absolute;
    top: -12px;
    right: -10px;
    padding: 1px 5px;
    border-radius: 50%;
    color: white;
    background-color: black;
}

.form-nav-container {
    position: relative;
}
.form-navigation {
    background-color: white;
    width: 570%;
    position: absolute;
    z-index: 2;
    right: 3px;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: white;
    border-radius: 5px;
}
.form-navigation div {
    margin: 10px 0;
}
.form-navigation a {
    color: black;
    text-decoration: none;
}
.logoutbtn {
    background-color: tomato;
    padding: 5px 8px;
    width: 100;
    border-radius: 10px;
    color: white;
}
@media (max-width: 767px) {
    .search {
        display: none;
    }
    .nav {
        padding: 10px 25px;
    }
}
