.review {
    padding: 20px 20px;
}
.rev {
    padding: 40px 50px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.name {
    display: flex;
    justify-content: space-between;
}
.reviewPara {
    margin-top: 10px;
}
.heading {
    margin-top: 20px;
    margin-left: 30px;
}
